#ifndef $guard
#define $guard
#include "ap_fixed.h"
typedef $dtype data_t;
void $top_function(
    const data_t lhs[$input_dim],
    const data_t rhs[$input_dim],
    data_t output[$input_dim]
);
#endif

